{% ckan_extends %} 

{% block package_description %}
  {% if pkg.private %}
    <span class="dataset-private label label-inverse pull-right">
      <i class="fa fa-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
  {% block package_archive_notice %}
  {% if c.is_activity_archive %}
  <div class="alert alert-error">
    {% trans url=h.url_for(controller='package', action='read', id=pkg.id) %}
    You're currently viewing an old version of this dataset. Some resources
    may no longer exist or the dataset may not display correctly. To see the
    current version, click <a href="{{ url }}">here</a>.
    {% endtrans %}
  </div>
  {% endif %}
  {% endblock %}
  <h1>
    {% block page_heading %}
      {{ h.dataset_display_name(pkg) }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
      {% if pkg.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
    {% endblock %}
  </h1>
  {% if pkg.notes_translated %}
    <div class="notes embedded-content">
      {{ h.render_markdown(h.get_translated(pkg, "notes")) }}
    </div>
  {% endif %}

  {% if pkg.relationships_as_object or pkg.relationships_as_subject %}
  <h3>{{ _('Related Datasets') }}</h3>
  {% endif %}
  <ul class="lac-related-list">
    {{ relationship(pkg.relationships_as_object) }}
    {{ relationship(pkg.relationships_as_subject) }}
  </ul>
  <div style="clear: left;"></div>

  {# FIXME why is this here? seems wrong #}
  <span class="insert-comment-thread"></span>
{% endblock %}

{% macro relationship(rels) %}
  {% for rel in rels %}
    {% set b = h.from_json(rel.comment) %}
    {% if rel.__extras.object_package_id == pkg['id']%}
      {% set focus = b.subject %}
    {% else %}
      {% set focus = b.object %}
    {% endif %}
    <li class="lac-related">
      <div class="lac-related-content">
        <a href="{{ h.url_for(controller='package', action='read', id=focus.name) }}">
          <h5>
            {{ focus.title }}
          </h5>
        </a>
        <div>
          <em class="muted">{{ focus.label }}</em>
        </div>
        {% if focus.description.en %}
        <p>{{ focus.description.en|truncate }}</p>
        {% else %}
        <em class="muted">No description available.</em>
        {% endif %}
      </div>
    </li>
  {% endfor %}
{% endmacro %}
