{% ckan_extends %} 

{% block package_description %}
  {% if pkg.private %}
    <span class="dataset-private label label-inverse pull-right">
      <i class="fa fa-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
  {% block package_archive_notice %}
  {% if c.is_activity_archive %}
  <div class="alert alert-error">
    {% trans url=h.url_for(controller='package', action='read', id=pkg.id) %}
    You're currently viewing an old version of this dataset. Some resources
    may no longer exist or the dataset may not display correctly. To see the
    current version, click <a href="{{ url }}">here</a>.
    {% endtrans %}
  </div>
  {% endif %}
  {% endblock %}
  <h1>
    {% block page_heading %}
      {{ h.dataset_display_name(pkg) }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
      {% if pkg.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
    {% endblock %}
  </h1>
  {% if pkg.notes_translated %}
    <div class="notes embedded-content">
      {{ h.render_markdown(h.get_translated(pkg, "notes")) }}
    </div>
  {% endif %}

  {% if pkg.type == 'agent' %}
    <h4>Collections</h4>
    {% for rel in pkg.relationships_as_object %}
    {% set b = h.from_json(rel.comment) %}
      <div>
        <a href="{{ h.url_for(controller='package', action='read', id=b.subject.name) }}">
          <h5>
            {{ b.subject.title }}
          </h5>
        </a>
        <p>{{ b.subject.description.en|truncate }}</p>
      </div>
    {% endfor %}
  {% endif %}

  {% if pkg.type == 'collection' %}
    <h4>Agents</h4>
    <ul>
    {% for rel in pkg.relationships_as_subject %}
    {% set b = h.from_json(rel.comment) %}
     <li>
       <a href="{{ h.url_for(controller='package', action='read', id=b.object.name) }}">
         {{ b.object.title }}
       </a>
     </li>
    {% endfor %}
    </ul>
  {% endif %}

  {# FIXME why is this here? seems wrong #}
  <span class="insert-comment-thread"></span>
{% endblock %}
