{% ckan_extends %}

{% block secondary_content %}
  {% snippet "spatial/snippets/spatial_query.html", default_extent="{
        \"type\": \"Polygon\",
        \"coordinates\": [
          [
            [
              -125.859375,
              48.10743118848039
            ],
            [
              -65.7421875,
              42.94033923363181
            ],
            [
              -49.39453125,
              45.213003555993964
            ],
            [
              -57.48046875,
              66.99884379185184
            ],
            [
              -68.203125,
              71.74643171904148
            ],
            [
              -74.53125,
              78.56048828398782
            ],
            [
              -56.07421875,
              82.7432022836318
            ],
            [
              -69.08203125,
              83.599030708362
            ],
            [
              -96.50390625,
              82.89698689394207
            ],
            [
              -141.6796875,
              70.25945200030638
            ],
            [
              -141.50390625,
              58.44773280389084
            ],
            [
              -125.859375,
              48.10743118848039
            ]
          ]
        ]
      }" %}
  {{ super() }}
{% endblock %}
