li.dataset-item {
    clear: left;
    overflow: auto;
}

.dataset-list-thumbnail {
    clear: left;
    float: left;
    padding-right: 20px;
}

.lac-related-list {
    list-style: none;
    margin: 0;
    clear: both;
    max-height: 400px;
    overflow-y: auto;
}

.lac-related {
    border-left: 4px solid green;
}

.lac-related-content {
    margin: 4px;
    padding: 8px;
    height: 96px;
    overflow: hidden;
}

.lac-related-content p {
    margin: 0;
    overflow: hidden;
}

.lac-related-content h5 {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lac-related-content span {
    margin-bottom: 8px;
}

.lac-related-content .dataset-list-thumbnail {
    float: right;
    clear: right;
    padding-left: 0;
    padding-right: 20px;
    max-height: 100px;
}

.additional-info {
    border: none;
}

.additional-info tbody tr th,
.additional-info tbody tr td {
    vertical-align: middle;
}

.additional-info tbody tr th {
    font-weight: bold;
    color: #666;
    text-align: right;
    width: 30%;
    white-space: normal;
    padding: 8px 20px;
}

.additional-info .tag {
    border-radius: 0;
}

.additional-info .tag-list {
    padding: 0;
}

.dataset-details p {
    margin: 0;
}

.dataset-thumbnail-embedded {
    text-align: center;
    padding-bottom: 25px;
}
